<html>
	<head>
		<title>DWD Server</title>
		<link rel="stylesheet" type="text/css" href="/public/app.css">
	</head>
	<body>
		<header>
			<h3>This is the header. It is on every page.</h3>
		</header>

       {{{ body }}}

       <footer>
         <p>Copyright 2014 SomeFunMegaCorp</p>
       </footer>
	</body>
</html>