<h1>DWD Server Sample Project</h1>
<p>This node server will be used to take attendance in class.</p>

<p>Pages:</p>
<ul>
	<li><a href='/weeks'>List of class weeks</a></li>
	<li><a href='weeks/1'>List of attendees for a given week</a></li>
<li><a href='/students'>List of all students with their week-by-week attendance</a></li>
</ul>