<h1>Class Attendance</h1>
<p>This page lists all the weeks of the class</p>

<p>Weeks:</p>
<ol>
	{{#each weeks}}
    <li>
      <a href='/weeks/{{this.number}}'>
        Week {{this.number}} ({{formatDate this.date}})
      </a>
    </li>
	{{/each}}
</ol>
